.header { 
    display: flex;   
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;     
    color: $white-clr;           
    text-align: center;  
    width: 100%;
    padding: 0.2em;
    border-bottom: 1px solid #a9a9a9;
    background-color: rgba(#191B26, 0.5);   
    font-weight: bold;
    &__title {      
        padding: 0.5em; 
        flex: 1; 
        text-align: initial;     
    }
    &__profile {
        padding: 0.5em 1em;       
        font-size: 1.5em;
    }
    &__link {                     
        &--link, &--logout {        
            font-size: 1.5em;
            margin-right: 0.8rem;
            background-color: $white-clr;
            padding: 0.5em 1em;
            border-radius: 5px; 
            color: $blue_clr;
            font-weight: bold;          
            &:hover {
                background-color: rgba($white-clr, 0.9);
            }                  
        }
    }  
    @media screen and (max-width: 768px) {
       @include responsive_min_width;
        padding: .3em;
        &__title {
            font-size: .8em;
            padding: .3em;
          
        }
        &__profile {
            padding: 0.5em .5em;       
            font-size: 0.7em;
        }
        &__link {               
            &--link{              
                font-size: .9em;
                margin-right: 0;
                padding: .3em;
            }
        }  
    }
}


.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em;
    color: $white-clr;
    &__title{
        margin: 1rem 0;
    }
    &__form {
        width: 90%;
        max-width: 600px;
        min-width: 300px;    
        &--inptgroup {
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            text-align: left; 
            position: relative;           
            input {
                width: 100%;
                padding: 10px;
                outline: 0;
                color: $white-clr;
                border: 1px solid $white-clr;
                font-size: 15px;
                background: transparent; 
                border-radius: .2em;
                height: 3em;
                font-weight: bold;               
                &:focus {
                    border: 2px solid $blueviolet_clr; 
                    font-weight: bolder;                  
                } 
                &:focus-within ~ label, &:not(:placeholder-shown) ~ label {
                    transform: translate(1.2em, -1.8em);              
                   font-size: 0.7em;
                   background-color: $blueviolet_clr;
                   padding: 0.2em 0.5em;
                   text-transform: uppercase ;
                }                 
            } 
            label {
                position: absolute;
                top: 14px;
                left:10px;
                cursor: text; 
                transition: transform 200ms;             
            }         
        }      
        &--valid{
            display: block;
            width: 100%;
            padding: 8px;
            font-size: 1.1rem;
            font-weight: bold;
            margin-top: 1rem;
            border: 0;
            background-color: $blueviolet_clr;
            color: #fff;
            cursor: pointer;
            position: relative;
            z-index: 1;
            &:hover {               
                background-color: rgba($blueviolet_clr, 0.9);
                color: rgba($white-clr, 0.7);               
            }          
        }
        &--error {
            font-size: 0.9em;
            color: $error-clr;
            margin-bottom: .2rem;
            text-align: center;
        }
        &--link {
            font-size: 0.9em;
            color: inherit;
            margin-top: .8em;
            text-align: center;
            font-style: italic;
            font-weight: bold;
            a {              
                color: $aqua_clr;
                &:hover {
                    text-decoration: underline ;                  
                }                 
            }
        }
    }
    &__success {
        background-color: $aqua_clr;
        color: $dark_clr;
        font-weight: 600;
        margin-top: 2rem;
        padding: 0.5em;
        border-radius: 5px;
        font-style: oblique;
    }
    @media screen and (max-width: 768px) {
      margin: 8em 0 1.5em;
    }
}
