.users {
    color: $white-clr; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between ;
    align-items: center;  
    overflow: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 1px;
        background-color: transparent;
    }   
    &__title {
        margin: 1em;
    }
    &__card {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 70%;
        justify-items: flex-start;
        align-items: center;
        border: 3px solid deepskyblue;
        font-family: cursive, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
        font-weight: bolder;
        border-radius: 5px;
        min-height: 6rem;
        margin: 1em 0 1em;
        &--item {
            padding: .5em;
            b {
                color: $aqua_clr ;                              
                font-weight: bold;
                border-bottom: 2px solid $aqua_clr;
            }           
        }
    }
    @media screen and (max-width: 768px) {
        @media screen and (max-width: 768px) {
           @include responsive_min_width;
        }
        margin: 2em 0;
        align-items: center;
        &__title {
            margin: 1em 0;
        }
        &__card {
            display: flex;
            flex-direction: column;
            width: 90%; 
            align-items: initial;
            min-height: 11.5rem;         
        }
    }
}