* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:'montserrat';
        src:url(../assets/fonts/montserrats/MontserratAlternates-Medium.ttf), 
        url(../assets/fonts/montserrats/MontserratAlternates-Bold.ttf), 
        url(../assets/fonts/montserrats/MontserratAlternates-Regular.ttf), 
        url(../assets/fonts/montserrats/MontserratAlternates-SemiBold.ttf);
}



html, body {
    height: 100%;
    font-family: 'montserrat';   
}
#root {
    display: flex;
    flex-direction: column;     
    height: 100vh;
    margin: 0 auto;
}

body {  
    width: 100%;
    height: 100%;
    background:  linear-gradient(
        rgba(0,0,0,0.2), 
        rgba(0,0,0,0.5)),  
        url('../assets/image/keyboard.jpg');
    background-size: cover;  
    background-repeat: repeat-y; 
    background-position: center;         
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

$blueviolet_clr: #8a2be2;
$aqua_clr: #00ffff;
$dark_clr: #191919;
$white-clr: #fff;
$blue_clr: #1967D2;
$error-clr: #df6418;

@mixin responsive_min_width {
    min-width: 340px;
}